@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.title {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: violet;
  font-weight: 1000;
  font-size: 50px;
}
